$Averia: "Averia Gruesa Libre", cursive;

.projects-container {
    width: 100%;
    font-family: $Averia;
    padding: 1em 10%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-items: center;
    h4 {
        width: fit-content;

        opacity: 0;
        .projects-underline {
            margin: 10px auto 10px;
            width: 0;
            border-bottom: 2px solid #d32f2f;
        }
    }
    .cards-group {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2em 0;
        overflow: visible;
        font-family: "Nunito", sans-serif;
        color: black;
        .card {
            width: 25em;
            margin: 0.5em 0.5em;
            .card-body {
                .card-title {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            .img-top-container {
                width: 100%;
                height: 15em;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .overlay {
                    cursor: pointer;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    color: white;
                    font-weight: 700;
                    text-align: center;
                    padding: 0.5em;
                    top: 0;
                    z-index: 1;
                    background-color: rgba(244, 67, 54, 0.4);
                    transition: 300ms ease-in;
                }
                .overlay2 {
                    color: rgb(121, 121, 121);
                    opacity: 0.7;
                    background: transparent;
                    z-index: 0;
                    align-items: flex-end;
                }
                .card-img-top {
                    min-width: 100%;
                    min-height: 100%;
                    max-width: 150%;
                    max-height: 150%;
                    transition: 300ms ease;
                    .card-img-top:hover {
                        zoom: 200%;
                    }
                }

                .overlay:hover {
                    opacity: 1;
                    ~ .card-img-top {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .projects-container {
        padding: 1em 3%;
        .cards-group {
            .card {
                width: 100%;
                margin: 0.5em 0;
                .img-top-container {
                    height: 10em;
                }
            }
        }
    }
}
