$DancingScript: "Dancing Script", cursive;
$Averia: "Averia Gruesa Libre", cursive;

.aboutme {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    overflow: unset;
    position: relative;
    padding: 0 0 5em;
    .bg-img {
        position: absolute;
        align-self: center;
        justify-self: center;
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        max-height: 150%;
        opacity: 0.8;
        filter: blur(2px);
    }
    .heading-container {
        padding: 0.5em 1em;
        background-color: rgba(244, 67, 54, 0.9);
        border-radius: 0.5em;
        position: relative;
        transform: translateY(-50%);
        .heading {
            text-align: center;
            width: fit-content;
            font-family: $Averia;
            // .underline {
            //     margin: 0.3em 20%;
            //     border-top: 2px solid #d32f2f;
            //     width: 0;
            // }
        }
    }

    .container {
        width: 60%;
        position: relative;
        margin: 0.5em 0;
        color: black;
        font-size: 1.6rem;
        font-weight: 700;
        backface-visibility: hidden;
        line-height: 2em;
        font-family: $DancingScript;
        padding: 1.5em;
        text-align: center;
        transform: translateY(50%);
        letter-spacing: 1.5px;
        background-color: white;
        border-radius: 2em;
        .aboutme-text {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transform: scaleY(0);
        }
        .hand-wave {
            max-width: 8em;
            height: 6em;
            right: 1em;
            opacity: 0;
            position: absolute;
        }
    }
}

@media screen and (max-width: 900px) {
    .aboutme {
        .container {
            width: 80%;
            font-size: 1.2em;
        }
    }
}
